openapi: 3.0.3
info:
  title: Bowling Reservation Admin API
  description: |
    Internal admin API for managing bowling reservations at HeadPinz centers
    (Fort Myers & Naples). Most endpoints require admin authentication via
    the `ADMIN_CAMERA_TOKEN` query parameter. Catalog endpoints (experiences,
    square-products) use the `x-admin-token` header instead.

    The availability endpoint (`/api/bowling/v2/availability`) is a public
    customer-facing endpoint included here because the admin reschedule
    modal depends on it to fetch available time slots.

    **Centers:**
    | Code | QAMF ID | Location |
    |------|---------|----------|
    | TXBSQN0FEKQ11 | 9172 | Fort Myers |
    | PPTR5G2N0QXF7 | 3148 | Naples |

    **Portal Embed:**
    Admin pages can be embedded in the HeadPinz portal via HMAC-signed
    URLs. Authentication uses HMAC-SHA256 signed timestamps (shared
    `ADMIN_EMBED_SECRET`). The iframe is locked to `portal.headpinz.com`
    via `frame-ancestors` CSP.

    Embed paths:
    - `/admin/embed/bowling?ts=...&sig=...` — reservation management
    - `/admin/embed/e-tickets?ts=...&sig=...` — e-ticket delivery log + resend
    - `/admin/embed/videos?ts=...&sig=...` — video match log + resend

    All paths accept `&theme=dark|light` for first-paint theming.
    Bowling also accepts `&center=fm|naples` for location pre-selection.
    Live theme toggle via `postMessage({ type: "portal.theme", value: "light" })`.
  version: "1.4.0"

servers:
  - url: https://headpinz.com
    description: Production

components:
  securitySchemes:
    AdminToken:
      type: apiKey
      in: query
      name: token
      description: ADMIN_CAMERA_TOKEN env var value
    AdminHeader:
      type: apiKey
      in: header
      name: x-admin-token
      description: ADMIN_SECRET_TOKEN env var value (used by experience/product endpoints)

  schemas:
    ReservationLine:
      type: object
      properties:
        id:
          type: integer
        reservationId:
          type: integer
        squareProductId:
          type: integer
        label:
          type: string
          example: "1.5 Hr Fri-Sun"
        quantity:
          type: integer
        unitPriceCents:
          type: integer
          description: Price per unit in cents

    Reservation:
      type: object
      properties:
        id:
          type: integer
          description: Neon DB row ID
        centerCode:
          type: string
          enum: [TXBSQN0FEKQ11, PPTR5G2N0QXF7]
        productKind:
          type: string
          enum: [open, kbf, hourly]
          description: "'open' = standard/specials, 'kbf' = Kids Bowl Free, 'hourly' = lane rental"
        qamfReservationId:
          type: string
          nullable: true
          example: "X147867"
          description: QAMF Conqueror reservation ID (prefixed with X for web bookings)
        squareDepositOrderId:
          type: string
          nullable: true
          description: Square order ID for the deposit charge
        squareDepositPaymentId:
          type: string
          nullable: true
        squareDayofOrderId:
          type: string
          nullable: true
          description: Square day-of order ID (open order with full line items)
        squareGiftCardId:
          type: string
          nullable: true
          description: Square eGift card holding the deposit balance
        squareGiftCardGan:
          type: string
          nullable: true
          description: Gift card GAN (account number) for payment
        depositCents:
          type: integer
          description: Tax-inclusive deposit amount charged to customer
        totalCents:
          type: integer
          description: Full booking total (tax-inclusive)
        status:
          type: string
          enum: [confirmed, confirm_pending, confirm_failed, arrived, completed, cancelled]
        bookedAt:
          type: string
          format: date-time
          description: Bowling session start time (stored as UTC TIMESTAMPTZ)
        playerCount:
          type: integer
          nullable: true
        guestName:
          type: string
          nullable: true
        guestEmail:
          type: string
          nullable: true
        guestPhone:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
          description: Customer-supplied notes (e.g. bumpers, birthday)
        cancelledAt:
          type: string
          format: date-time
          nullable: true
        squareRefundId:
          type: string
          nullable: true
        refundCents:
          type: integer
          default: 0
        shortCode:
          type: string
          nullable: true
          description: Short URL code for confirmation page (headpinz.com/s/{code})
        preArrivalSentAt:
          type: string
          format: date-time
          nullable: true
          description: When the pre-arrival SMS/email was sent (~30 min before bookedAt)
        dayofOrderSentAt:
          type: string
          format: date-time
          nullable: true
          description: When the lane-open processor fired (gift card applied, KDS notes set)
        dayofOrderLane:
          type: string
          nullable: true
          description: "Lane number(s) assigned by QAMF, e.g. '12' or '12,13'"
        dayofPaymentId:
          type: string
          nullable: true
          description: Square payment ID from gift card charge at lane-open
        dayofOrderError:
          type: string
          nullable: true
          description: Error message if lane-open processing failed
        dayofOrderSource:
          type: string
          nullable: true
          description: "Source of the day-of order trigger (e.g. 'webhook', 'cron')"
        bookingSource:
          type: string
          enum: [web, kiosk, conqueror]
          default: web
          description: Where the reservation was created
        checkinMethod:
          type: string
          enum: [self, desk]
          nullable: true
          description: |
            How the guest checked in. "self" is recorded automatically when
            the guest uses Express Check-In (POST /api/bowling/v2/reservations/{id}/checkin).
            All others are assumed desk check-in (null).
        loyaltyAction:
          type: string
          enum: [signup, existing]
          nullable: true
          description: |
            Whether the guest enrolled in HeadPinz Rewards during booking
            ("signup") or linked an existing Square Loyalty account ("existing").
            Null if no loyalty interaction.
        squareCustomerId:
          type: string
          nullable: true
          description: Square customer ID (loyalty-linked guests)
        squareLoyaltyRewardId:
          type: string
          nullable: true
          description: Square reward ID if a loyalty reward was redeemed at booking
        rewardDiscountCents:
          type: integer
          default: 0
          description: Discount amount from redeemed loyalty reward (cents)
        insertedAt:
          type: string
          format: date-time
        lines:
          type: array
          items:
            $ref: "#/components/schemas/ReservationLine"
        attractionBookings:
          type: array
          nullable: true
          description: Non-bowling attractions bundled with this reservation (gel blaster, laser tag, etc.)
          items:
            type: object
            properties:
              slug:
                type: string
              name:
                type: string
              quantity:
                type: integer
              totalPriceDollars:
                type: number
              timeLabel:
                type: string

    SquareLineItem:
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        quantity:
          type: integer
        note:
          type: string
          nullable: true
        priceCents:
          type: integer
        totalCents:
          type: integer
        catalogId:
          type: string
          nullable: true

    SquareProduct:
      type: object
      properties:
        id:
          type: integer
        centerCode:
          type: string
        productKind:
          type: string
          description: "e.g. 'base', 'addon_shoe', 'addon_bumper', 'experience_item'"
        label:
          type: string
        squareCatalogObjectId:
          type: string
        priceCents:
          type: integer
        depositPct:
          type: number
          description: Percentage of price collected as deposit (0-100)
        sortOrder:
          type: integer
        isActive:
          type: boolean
        qamfWebOfferId:
          type: integer
          nullable: true
        insertedAt:
          type: string
          format: date-time

    Experience:
      type: object
      properties:
        id:
          type: integer
        slug:
          type: string
        label:
          type: string
        kind:
          type: string
          enum: [kbf, open, hourly]
        isVip:
          type: boolean
        description:
          type: string
          nullable: true
        sortOrder:
          type: integer
        isActive:
          type: boolean
        daysOfWeek:
          type: array
          items:
            type: integer
          description: "0=Sun through 6=Sat"
        squareModifierListIds:
          type: array
          items:
            type: string
        offers:
          type: array
          items:
            type: object
            properties:
              centerCode:
                type: string
              qamfWebOfferId:
                type: integer
              qamfOptionType:
                type: string
                enum: [Game, Time, Unlimited]
              qamfOptionId:
                type: integer
                nullable: true
        items:
          type: array
          items:
            type: object
            properties:
              squareProductId:
                type: integer
              quantity:
                type: integer
              labelOverride:
                type: string
                nullable: true
              sortOrder:
                type: integer

paths:
  /admin/embed/bowling:
    get:
      summary: Portal iframe embed page (HMAC-gated)
      description: |
        Serves the bowling admin page for embedding in the HeadPinz portal
        iframe. Authentication is via HMAC-SHA256 signed timestamps instead
        of the static admin token — the token never appears in the URL.

        **Auth flow:**
        1. Portal calls its own `/api/integrations/bowling-admin-url` endpoint
        2. That endpoint generates `HMAC-SHA256(ADMIN_EMBED_SECRET, timestamp)`
        3. Returns this URL with `ts` and `sig` query params
        4. FastTrax middleware validates signature + 15-minute expiry
        5. Response includes `Content-Security-Policy: frame-ancestors https://portal.headpinz.com`

        **Optional params:**
        - `theme=dark|light` — first-paint theme (avoids flash)
        - `center=fm|naples` — pre-select center

        **Live theme toggle:** Portal sends `postMessage({ type: "portal.theme", value: "light" })`
        targeted to `https://headpinz.com` origin.

        **Rotation:** Change `ADMIN_EMBED_SECRET` on both Vercel projects.
        All outstanding URLs expire within 15 minutes.
      parameters:
        - name: ts
          in: query
          required: true
          schema:
            type: string
          description: Unix timestamp (milliseconds) of when the URL was generated
        - name: sig
          in: query
          required: true
          schema:
            type: string
          description: "HMAC-SHA256(ADMIN_EMBED_SECRET, ts) as hex string"
        - name: theme
          in: query
          schema:
            type: string
            enum: [dark, light]
            default: dark
          description: Initial color theme
        - name: center
          in: query
          schema:
            type: string
            enum: [fm, fort-myers, naples]
          description: Pre-select center (slug mapped to center code)
      responses:
        "200":
          description: HTML page (bowling admin UI)
        "404":
          description: Invalid/expired signature, missing ADMIN_EMBED_SECRET, or bad params

  /admin/embed/e-tickets:
    get:
      summary: Portal iframe embed — e-ticket admin (HMAC-gated)
      description: |
        Serves the e-ticket delivery log and resend tool for embedding in the
        HeadPinz portal iframe. Same HMAC auth as `/admin/embed/bowling`.

        Shows all e-ticket SMS/email deliveries for a date with click tracking,
        racer details, and one-click resend. Staff can filter by phone, name,
        or track.

        **Auth:** Identical to bowling embed — `HMAC-SHA256(ADMIN_EMBED_SECRET, ts)`.
        See `/admin/embed/bowling` for full auth flow details.
      parameters:
        - name: ts
          in: query
          required: true
          schema:
            type: string
          description: Unix timestamp (milliseconds) of when the URL was generated
        - name: sig
          in: query
          required: true
          schema:
            type: string
          description: "HMAC-SHA256(ADMIN_EMBED_SECRET, ts) as hex string"
        - name: theme
          in: query
          schema:
            type: string
            enum: [dark, light]
            default: dark
          description: Initial color theme (if supported by page)
      responses:
        "200":
          description: HTML page (e-ticket admin UI)
        "404":
          description: Invalid/expired signature, missing ADMIN_EMBED_SECRET, or bad params

  /admin/embed/videos:
    get:
      summary: Portal iframe embed — video admin (HMAC-gated)
      description: |
        Serves the video match log and resend tool for embedding in the
        HeadPinz portal iframe. Same HMAC auth as `/admin/embed/bowling`.

        Shows all matched racing videos for a date with racer details,
        thumbnails, and one-click resend via SMS/email. Staff can filter
        by racer name, camera, or video code.

        **Auth:** Identical to bowling embed — `HMAC-SHA256(ADMIN_EMBED_SECRET, ts)`.
        See `/admin/embed/bowling` for full auth flow details.
      parameters:
        - name: ts
          in: query
          required: true
          schema:
            type: string
          description: Unix timestamp (milliseconds) of when the URL was generated
        - name: sig
          in: query
          required: true
          schema:
            type: string
          description: "HMAC-SHA256(ADMIN_EMBED_SECRET, ts) as hex string"
        - name: theme
          in: query
          schema:
            type: string
            enum: [dark, light]
            default: dark
          description: Initial color theme (if supported by page)
      responses:
        "200":
          description: HTML page (video admin UI)
        "404":
          description: Invalid/expired signature, missing ADMIN_EMBED_SECRET, or bad params

  /api/admin/bowling/reservations:
    get:
      summary: List reservations for a date
      description: |
        Returns all bowling reservations for the given date, filtered by ET
        (Eastern Time) boundaries. Each reservation includes order line items
        and a short confirmation URL code.

        Date filtering uses `(booked_at AT TIME ZONE 'America/New_York')::date`
        so evening reservations (8 PM+ ET) stay on the correct calendar day.
      security:
        - AdminToken: []
      parameters:
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
            example: "2026-05-10"
        - name: center
          in: query
          required: false
          schema:
            type: string
            enum: [TXBSQN0FEKQ11, PPTR5G2N0QXF7]
      responses:
        "200":
          description: Reservations for the date
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservations:
                    type: array
                    items:
                      $ref: "#/components/schemas/Reservation"
        "400":
          description: Missing or invalid date param
        "401":
          description: Invalid admin token
        "500":
          description: Database fetch failure

  /api/admin/bowling/reservations/resend:
    post:
      summary: Resend confirmation email/SMS
      description: |
        Re-sends the booking confirmation email and/or SMS to the guest.
        Supports overriding the contact info (e.g. if guest gave wrong phone).
        No cooldown — admin can resend as many times as needed.
      security:
        - AdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [neonId, channel]
              properties:
                neonId:
                  type: integer
                channel:
                  type: string
                  enum: [email, sms, both]
                overridePhone:
                  type: string
                  description: Override guest phone for this send only
                overrideEmail:
                  type: string
                  description: Override guest email for this send only
      responses:
        "200":
          description: Send results
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: boolean
                  sms:
                    type: boolean

  /api/admin/bowling/reservations/cancel:
    post:
      summary: Cancel reservation and refund
      description: |
        Cancels a bowling reservation with no time restrictions (unlike
        customer-facing cancel which has a 1-hour cutoff). Steps:
        1. Cancel in QAMF Conqueror (best-effort — failure does not block)
        2. Process full Square refund if deposit was charged
        3. Mark cancelled in Neon DB with timestamp

        Square refund only fires when both `squareDepositPaymentId` AND
        `squareGiftCardId` exist. Uses a unique idempotency key per call.
      security:
        - AdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [neonId]
              properties:
                neonId:
                  type: integer
      responses:
        "200":
          description: Cancellation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  refundCents:
                    type: integer
        "404":
          description: Reservation not found
        "409":
          description: Already cancelled
        "502":
          description: Square refund failed (requires manual reconciliation)

  /api/admin/bowling/reservations/checkin:
    post:
      summary: Set check-in method (admin override)
      description: |
        Manually sets or clears the check-in method on a reservation.
        Primarily exists for admin override — the normal flow is automatic:
        Express Check-In (POST /api/bowling/v2/reservations/{id}/checkin)
        records "self" automatically. All others are assumed desk (null).
      security:
        - AdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [neonId, method]
              properties:
                neonId:
                  type: integer
                method:
                  type: string
                  nullable: true
                  enum: [self, desk, null]
                  description: "Pass null to clear"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        "400":
          description: Invalid neonId or method
        "401":
          description: Invalid admin token

  /api/bowling/v2/reservations/{id}/checkin:
    get:
      summary: Poll lane status for check-in
      description: |
        Polls QAMF for the current lane status of a reservation. No side effects.
        Used by the Express Check-In page to determine when the guest can
        self-open their lanes.

        **Phase values:**
        - `not_ready` — lanes not yet assigned (None/Temporary status in QAMF)
        - `ready` — lane(s) are Confirmed or Ready, eligible for self-service open.
          Also returned when lanes are "Closed" (hardware off) and booking is
          within 30 minutes, allowing the guest to open them.
        - `running` — lane(s) are Running (already open / bowling in progress)
        - `completed` — session complete
        - `cancelled` — reservation cancelled in Neon
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Neon DB reservation ID
      responses:
        "200":
          description: Current check-in phase
          content:
            application/json:
              schema:
                type: object
                properties:
                  phase:
                    type: string
                    enum: [not_ready, ready, running, completed, cancelled]
                  laneLabel:
                    type: string
                    description: "Human-readable label, e.g. 'Lanes 12, 13'"
                  laneNumbers:
                    type: array
                    items:
                      type: integer
                  laneIds:
                    type: array
                    items:
                      type: string
                    description: QAMF lane GUIDs (used by POST for status transitions)
                  reservationStatus:
                    type: string
                    description: Raw QAMF reservation status
        "400":
          description: Invalid ID
        "404":
          description: Reservation not found
        "502":
          description: QAMF fetch failed

    post:
      summary: Self-service lane open (Express Check-In)
      description: |
        Self-service lane open flow: sets reservation to Arrived, then
        transitions each lane through Ready → Running.

        **Only call after GET confirms phase="ready".**

        Automatically records `checkinMethod = "self"` in Neon DB so the
        admin page shows the purple "Self" badge. This is fire-and-forget
        (never blocks the check-in response).

        Steps:
        1. Set QAMF reservation status → Arrived
        2. Fetch lane GUIDs from QAMF
        3. For each lane: set Ready → set Running
        4. Record self-service check-in in Neon
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Neon DB reservation ID
      responses:
        "200":
          description: Lanes opened
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  lanesOpened:
                    type: integer
                    description: Number of lanes successfully transitioned to Running
                  laneLabel:
                    type: string
        "400":
          description: Invalid ID or no QAMF link
        "404":
          description: Reservation not found
        "409":
          description: Reservation cancelled
        "502":
          description: Failed to set Arrived in QAMF

  /api/admin/bowling/reservations/reschedule/info:
    get:
      summary: Get reschedule info for a reservation
      description: |
        Fetches QAMF web offer details needed to populate the reschedule
        modal (available time slots). Constrains reschedule to the same
        web offer / experience type.

        Reads the live QAMF reservation to extract `WebOffer.Id` and
        option priority (Time > Unlimited > Game).
      security:
        - AdminToken: []
      parameters:
        - name: neonId
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Reschedule context
          content:
            application/json:
              schema:
                type: object
                properties:
                  webOfferId:
                    type: integer
                  optionId:
                    type: integer
                    nullable: true
                  optionType:
                    type: string
                    enum: [Game, Time, Unlimited]
                  centerId:
                    type: integer
                  centerCode:
                    type: string
                  playerCount:
                    type: integer
                  bookedAt:
                    type: string
                    format: date-time
                  guestName:
                    type: string
                  productKind:
                    type: string
        "400":
          description: Invalid/missing neonId or unknown center code
        "404":
          description: Reservation not found or no QAMF ID linked
        "502":
          description: QAMF GET failed

  /api/admin/bowling/reservations/reschedule:
    post:
      summary: Reschedule a reservation
      description: |
        Moves a reservation to a new time within the same web offer.
        Price and deposit stay the same. Steps:
        1. Delete old QAMF reservation (best-effort)
        2. Create new QAMF reservation at new time
        3. Confirm new QAMF reservation (MUST succeed)
        4. Update Neon DB with new bookedAt and QAMF ID
        5. Re-send confirmation email/SMS (fire-and-forget)

        Resets `dayof_order_*` columns when status moves back to `confirmed`.
        Cannot reschedule cancelled or completed reservations.
        If QAMF confirmation fails, the orphaned temporary reservation is cleaned up.
      security:
        - AdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [neonId, bookedAt, webOfferId]
              properties:
                neonId:
                  type: integer
                bookedAt:
                  type: string
                  format: date-time
                  description: "New booking time as ISO 8601 with offset"
                webOfferId:
                  type: integer
                optionId:
                  type: integer
                optionType:
                  type: string
                  enum: [Game, Time, Unlimited]
                  default: Game
      responses:
        "200":
          description: Reschedule result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  bookedAt:
                    type: string
                    format: date-time
                  qamfReservationId:
                    type: string
        "400":
          description: Invalid JSON, missing required fields, or invalid state (cancelled/completed)
        "404":
          description: Reservation not found
        "502":
          description: QAMF reservation creation or confirmation failed

  /api/admin/bowling/force-confirm:
    post:
      summary: Force-confirm a stuck reservation
      description: |
        Rescues reservations stuck in `confirm_pending` or `confirm_failed`
        status. Handles three scenarios:
        1. QAMF reservation still exists as Temporary -> set customer + confirm
        2. QAMF reservation already Confirmed -> just update Neon
        3. QAMF reservation gone (expired) -> create fresh + confirm
      security:
        - AdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [neonId]
              properties:
                neonId:
                  type: integer
      responses:
        "200":
          description: Force-confirm result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  neonId:
                    type: integer
                  qamfReservationId:
                    type: string
                  action:
                    type: string
                    enum: [confirmed, already_confirmed, recreated_and_confirmed]
                  message:
                    type: string
                  error:
                    type: string
        "400":
          description: Invalid/missing neonId, unknown center code, or invalid status
        "404":
          description: Reservation not found
        "422":
          description: Cannot reconstruct — missing webOfferId for expired QAMF reservation
        "502":
          description: QAMF operation failed

  /api/admin/bowling/square-order:
    get:
      summary: Get Square day-of order details
      description: |
        Fetches line items, state, and totals for a Square day-of order.
        Used by the admin page to inspect what's on the kitchen display
        (food items, shoe sizes) and the payment status.
      security:
        - AdminToken: []
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: string
            description: Square order ID
      responses:
        "200":
          description: Order details
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  state:
                    type: string
                    description: "Square order state (OPEN, COMPLETED, etc.)"
                  totalCents:
                    type: integer
                  remainingCents:
                    type: integer
                    description: Amount still due on the order
                  lineItems:
                    type: array
                    items:
                      $ref: "#/components/schemas/SquareLineItem"
        "400":
          description: Missing orderId
        "404":
          description: Order not found in Square
        "502":
          description: Square API returned 5xx

  /api/admin/bowling/backfill-memo:
    post:
      summary: Backfill QAMF reservation memos
      description: |
        Patches QAMF Notes for all upcoming non-cancelled reservations with
        the standardized memo format:
        - Line 1: Shoe status + short URL (`SHOES NOT INCLUDED | headpinz.com/s/abc`)
        - Line 2: Line items summary with prices
        - Line 3: Tax-inclusive deposit amount
        - Line 4: Customer notes (if any)

        Also sets QAMF Title to `{guestName} ({playerCount}p)`.
        Supports dry-run mode to preview without patching.
      security:
        - AdminToken: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dryRun:
                  type: boolean
                  default: false
                  description: Preview changes without patching QAMF
      responses:
        "200":
          description: Backfill results
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  dryRun:
                    type: boolean
                  updated:
                    type: integer
                    description: Count of successfully patched reservations
                  total:
                    type: integer
                    description: Total reservations processed
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        neonId:
                          type: integer
                        guestName:
                          type: string
                          nullable: true
                        memo:
                          type: string
                          description: The formatted memo text
                        patched:
                          type: boolean
                        error:
                          type: string

  /api/admin/bowling/v2/experiences:
    get:
      summary: List all bowling experiences
      description: |
        Returns all bowling experiences across both centers with their
        QAMF web offer mappings and bundled Square product items.
      security:
        - AdminHeader: []
      responses:
        "200":
          description: Experience list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Experience"

    post:
      summary: Upsert a bowling experience
      description: |
        Creates or updates a bowling experience with per-center QAMF
        offer mappings and bundled Square items. Upserts by slug.
      security:
        - AdminHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug, label, kind, offers]
              properties:
                slug:
                  type: string
                label:
                  type: string
                kind:
                  type: string
                  enum: [kbf, open, hourly]
                isVip:
                  type: boolean
                  default: false
                description:
                  type: string
                sortOrder:
                  type: integer
                  default: 0
                isActive:
                  type: boolean
                  default: true
                daysOfWeek:
                  type: array
                  items:
                    type: integer
                  description: "0=Sun through 6=Sat. Default: all days"
                squareModifierListIds:
                  type: array
                  items:
                    type: string
                offers:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [centerCode, qamfWebOfferId]
                    properties:
                      centerCode:
                        type: string
                      qamfWebOfferId:
                        type: integer
                      qamfOptionType:
                        type: string
                        enum: [Game, Time, Unlimited]
                      qamfOptionId:
                        type: integer
                items:
                  type: array
                  items:
                    type: object
                    required: [squareProductId]
                    properties:
                      squareProductId:
                        type: integer
                      quantity:
                        type: integer
                        default: 1
                      labelOverride:
                        type: string
                      sortOrder:
                        type: integer
      responses:
        "200":
          description: Created/updated experience

  /api/admin/bowling/v2/square-products:
    get:
      summary: List Square products for a center
      description: Returns bowling products (base items, add-ons) filtered by center.
      security:
        - AdminHeader: []
      parameters:
        - name: centerCode
          in: query
          required: true
          schema:
            type: string
            enum: [TXBSQN0FEKQ11, PPTR5G2N0QXF7]
        - name: kind
          in: query
          schema:
            type: string
            description: "Filter by product kind (e.g. addon_shoe)"
        - name: all
          in: query
          schema:
            type: string
            enum: ["true"]
            description: Include inactive products
      responses:
        "200":
          description: Product list
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/SquareProduct"
                  count:
                    type: integer

    post:
      summary: Upsert a Square product
      description: |
        Creates or updates a bowling product. Matches on
        (center_code, product_kind, square_catalog_object_id).
      security:
        - AdminHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [centerCode, productKind, label, squareCatalogObjectId]
              properties:
                centerCode:
                  type: string
                productKind:
                  type: string
                label:
                  type: string
                squareCatalogObjectId:
                  type: string
                priceCents:
                  type: integer
                  default: 0
                depositPct:
                  type: number
                  default: 100
                sortOrder:
                  type: integer
                  default: 0
                isActive:
                  type: boolean
                  default: true
                qamfWebOfferId:
                  type: integer
      responses:
        "200":
          description: Upserted product

  # ── Customer-facing endpoint used by admin reschedule modal ──────────

  /api/bowling/v2/availability:
    get:
      summary: Search available bowling time slots
      description: |
        Public endpoint (no auth) that queries QAMF for available bowling
        slots. Used by the customer booking wizard AND the admin reschedule
        modal.

        **Two query modes:**
        - **Targeted** (hour + minute provided): probes ±5 hours around the
          selected time. Fast — typically 2–4 QAMF calls. Used after the
          guest picks a rough time.
        - **Full-day** (no hour/minute): probes every 15 minutes from center
          open to close. Used by reschedule modal and KBF flow.

        Only returns experiences valid for the requested day-of-week
        (filtered via `daysOfWeek` from DB). Results are deduplicated by
        `(BookedAt, WebOffer.Id)` and sorted chronologically.

        **Admin reschedule usage:** The reschedule modal calls this with
        `webOfferId` set to lock results to the current experience, plus
        `centerId`, `players`, and `startDate` from the reschedule/info
        response.

        **Important behaviors:**
        - For today's date, slots earlier than now + 15 min are excluded
        - QAMF probe errors are swallowed (logged, not returned) — partial
          results are returned rather than failing entirely
        - Probes are batched 8 at a time to avoid QAMF rate limits
        - Post-midnight hours (12 AM–2 AM) stored as 24+ for correct sort
      parameters:
        - name: centerId
          in: query
          required: true
          schema:
            type: integer
            enum: [9172, 3148]
          description: "QAMF center ID (9172 = Fort Myers, 3148 = Naples)"
        - name: players
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
            example: "2026-05-10"
        - name: hour
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 25
            description: "Hour 0–25 (24=midnight, 25=1am). Triggers targeted mode when paired with minute."
        - name: minute
          in: query
          schema:
            type: integer
            enum: [0, 15, 30, 45]
            description: "Must be 0/15/30/45. Required if hour is set."
        - name: kind
          in: query
          schema:
            type: string
            enum: [kbf, open, hourly]
            description: Filter by experience kind
        - name: webOfferId
          in: query
          schema:
            type: integer
            description: Narrow to a specific QAMF web offer (used by reschedule)
        - name: durationMinutes
          in: query
          schema:
            type: integer
            description: Override booking duration in minutes
      responses:
        "200":
          description: Available time slots
          content:
            application/json:
              schema:
                type: object
                properties:
                  Availabilities:
                    type: array
                    items:
                      type: object
                      properties:
                        TotalPlayers:
                          type: integer
                        BookedAt:
                          type: string
                          format: date-time
                          description: "ISO 8601 with ET offset (e.g. 2026-05-10T18:00:00-04:00)"
                        WebOffer:
                          type: object
                          properties:
                            Id:
                              type: integer
                            Options:
                              type: object
                              properties:
                                Time:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      Minutes:
                                        type: integer
                            Services:
                              type: array
                              items:
                                type: string
        "400":
          description: "Missing required params or invalid centerId/players"
        "502":
          description: Fatal error during QAMF probing
